<!DOCTYPE html>
<html lang="en">
<header>
  <% let page_title = "iHangry Results" %>
  <% include partials/_header %>
  <% include partials/_nav %>
</header>
<body>

  <section>
Your poll <%=title%>
<% if (choices.length < 1) {%>
has been created!
<br>Share the voting link below with your friends!
<% } else { %>
<br>
Get your bib ready, you eat here: <%=choices[0].choice_name%>


    <br>
    <br>

    <%for (let i=0; i < choices.length; i++) { %>

    <%=choices[i].choice_name%> points: <%=choices[i].sum%><br>

    <%}%>

    <br>

    Voters:
    <br>

    <%for (let i=0; i < names.length; i++) { %>

    <%=names[i].voter_name%><br>

<%}%>
<%}%>


    <br>
    <br>

<a href="/vote/<%= vote_link %>">Voting:</a>

<script>
  let host = location.protocol+'//'+location.hostname+(location.port ? ':' +location.port: '');
  document.write(host+"/vote/<%=vote_link%>");
</script>
<br>
<a href="/results/<%= final_result_link %>">Final Results Page:</a>

<script>
  document.write(host+"/results/<%=final_result_link%>");
</script>



  </section>

</body>

