<% include partials/_header %>

<body>

  <% include partials/_nav %>

  <div class="container">

    <div class="row mb-3 mt-5">
      <div class="col-12">
    <% if (choices.length < 1) {%>
        <h3>Your poll, <%=title%>, has been created.</h3>
        Share the voting link below with your friends and get ready to get fed.
      </div>
    </div>

    <% } else { %>
    <div class="row mb-3 mt-3">
      <div class="col-12">
        <h3><%=title%></h3>
        The current winner is: <b><%=choices[0].choice_name%></b>
      </div>
    </div>

    <h4>Points Tally:</h4>

    <div class="row mb-3 mt-3">
      <div class="col-12">
        <%for (let i=0; i < choices.length; i++) { %>
        <%=choices[i].choice_name%> points: <span class="orange"><%=choices[i].sum%></span><br>
        <%}%>
      </div>
    </div>

    <h4>Voters:</h4>

    <div class="row mb-3 mt-3">
      <div class="col-12">
        <%for (let i=0; i < names.length; i++) { %>

        <%=names[i].voter_name%><br>

        <%}%>
      </div>
    </div>

    <%}%>

    <div class="row mb-3 mt-3">
      <div class="col-12">
        <a href="/vote/<%= vote_link %>">Voting:</a>

        <script>
          let host = location.protocol+'//'+location.hostname+(location.port ? ':' +location.port: '');
          document.write(host+"/vote/<%=vote_link%>");
        </script>
        <br>
        <a href="/results/<%= final_result_link %>">Final Results Page:</a>

        <script>
          document.write(host+"/results/<%=final_result_link%>");
        </script>
      </div>
    </div>

  </div>
  <% include partials/_footer %>

</body>
</html>
