<!DOCTYPE html>
<html lang="en">
<header>
  <% let page_title = "iHangry Results" %>
  <% include partials/_header %>
</header>
<body>

  <section>

Get your bib ready, you eat here: <%=choices[0].choice_name%>

<br>
<br>

<%for (let i=0; i < choices.length; i++) { %>

<%=choices[i].choice_name%> points: <%=choices[i].sum%><br>

<%}%>

<br>

Voters:
<br>

<%for (let i=0; i < names.length; i++) { %>

<%=names[i].voter_name%><br>

<%}%>

<br>
<br>

<a href="/final_results/<%= final_result_link %>">Tell your comrades:</a>

<script>
  let host = location.protocol+'//'+location.hostname+(location.port ? ':' +location.port: '');
  document.write(host+"/final_results/<%=final_result_link%>");
</script>


  </section>

</body>

