<!DOCTYPE html>
<html lang="en">
<header>
  <% let page_title = "iHangry Your Poll" %>
  <% include partials/_header %>
</header>
<body>

  <h1>-- name of your poll: --</h1>
   <h2><%=poll_data.poll_name%>: </h2>
   <h2>Vote Here: <a href="/vote/<%=poll_data.vote_link%>"><%=poll_data.vote_link%></a></h2>
   <h2>Vote Results:<a href="/results/<%=poll_data.result_link%>"><%=poll_data.result_link%></a></h2>
   


  <p>
    don't forget to vote yourself!
  </p>

</body>
