<!DOCTYPE html>
<html lang="en">

<head>
  <% let page_title = "iHangry Vote" %>

  <title><%= page_title%></title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nestable.css" type="text/css" />
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>


  <br>
  <h1><%=choices[0].poll_title%></h1>
  <br>
  <input id="voter_name" name="voter_name" type="text" placeholder="enter your name">
  <div class="container">
    <div class="row">
      <div class="col-8 col-md-6" style="background:#fefefe;">
        <div class="dd" id="nestable3">
          <ol class="dd-list">
            <% for (let i of choices) { %>

            <li class="dd-item dd3-item" data-id="<%=i.choice_id%>" data-poll_id="<%=i.poll_id%>">
              <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content"><%= i.choice_name%> - <%=i.choice_description%></div>
            </li>
            <% } %>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary poll-submit">Vote</button>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/nestable.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- <script type="text/javascript" src="/scripts/create_poll.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('.dd').nestable({maxDepth:1});
      $('.poll-submit').click(updateOutput);
    });

    let updateOutput = function() {
      // TODO: add descriptions to data passed to server
      $.post("/vote", {voter_name: $('#voter_name').val(), data: $('.dd').nestable('serialize')});
    };
  </script>


</body>
</html>
